body {
}

#homepage {
	width: 520px;
	height: 682px;
	background: url('../images/backgrounds/homepage.png') center center;
}

#homepage-text {
	position: relative;
	height: 166px;
	top: 250px;
	margin: 0 auto;
	font-size: 18px;
	color: white;
	text-align: center;
}

#homepage-button {
	display: block;
	position: relative;
	width: 168px;
	height: 95px;
	top: 230px;
	margin: 0 auto;
	background: url('../images/buttons/homepage.png') center center;
}

#register {
	width: 520px;
	height: 942px;
	background: url('../images/backgrounds/register.png') center center;
}

#register-form {
	position: relative;
	width: 70%;
	top: 290px;
	margin: 0 auto;
	color: #004c83;
}

#register-form input, #register-form select {
   color: #004c83;
}

#register-button {
	display: block;
	position: relative;
	width: 168px;
	height: 95px;
	margin: 0 auto;
	margin-top: -10px;
	background: url('../images/buttons/register.png') center center;
	border: none;
}

#questions {
	width: 520px;
	height: 800px;
	background: url('../images/backgrounds/quiz.png') center center;
}

#question-button-0 {
	display: block;
	position: relative;
	width: 51px;
	height: 68px;
	background: url('../images/buttons/quiz-1.png') center center;
	border: none;
	top: 270px;
	left: 77px;
}

#question-button-text-0 {
	position: relative;
	width: 316px;
	top: 233px;
	left: 137px;
	text-align: left;
}

#question-button-1 {
	display: block;
	position: relative;
	width: 51px;
	height: 67px;
	background: url('../images/buttons/quiz-2.png') center center;
	border: none;
	top: 250px;
	left: 77px;
}

#question-button-text-1 {
	position: relative;
	width: 316px;
	top: 214px;
	left: 137px;
	text-align: left;
}

#question-button-2 {
	display: block;
	position: relative;
	width: 51px;
	height: 70px;
	background: url('../images/buttons/quiz-3.png') center center;
	border: none;
	top: 231px;
	left: 77px;
}

#question-button-text-2 {
	position: relative;
	width: 316px;
	top: 192px;
	left: 137px;
	text-align: left;
}

.question-container {
	height: 110px;
}

#question {
	position: relative;
	width: 368px;
	height: 63px;
	top: 255px;
	margin: 0 auto;
	font-size: 16px;
	color: #014a81;
	text-align: center;
	font-weight: 500;
}

#innamorato {
	width: 520px;
	height: 682px;
	background: url('../images/backgrounds/innamorato.png') center center;
}

#share-button {
	display: block;
	position: relative;
	width: 168px;
	height: 48px;
	background: url('../images/buttons/share.png') center center;
	border: none;
	margin: 0 auto;
	top: 347px;
}

#avventuriero {
	width: 520px;
	height: 682px;
	background: url('../images/backgrounds/avventuriero.png') center center;
}

#saggio {
	width: 520px;
	height: 682px;
	background: url('../images/backgrounds/saggio.png') center center;
}
