body {
}

#homepage {
	width: 520px;
	height: 682px;
	background: url('../images/backgrounds/homepage.png') center center;
}

#homepage-text {
	position: relative;
	height: 166px;
	top: 250px;
	margin: 0 auto;
	font-size: 18px;
	color: white;
	text-align: center;
}

#homepage-button {
	display: block;
	position: relative;
	width: 168px;
	height: 95px;
	top: 230px;
	margin: 0 auto;
	background: url('../images/buttons/homepage.png') center center;
}
